@import '/styles/globals';

// ------------------------------ Desktop ------------------------------
@media screen and (min-width: 1024px) {
    #about {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        margin-top: 120px;

        .uppercase {
            text-transform: uppercase;
            color: $darkGrey;
            font-weight: 400;
            margin: 0;
        }

        .upper {
            grid-area: 1 / 5 / 2 / 11;
            padding-top: 80px;

            a {
                font-family: proxima-nova;
                font-size: 22px;
                text-transform: lowercase;
            }
        }

        .lower {
            grid-area: 2 / 3 / 3 / 8;
            padding-top: 80px;

            a {
                font-family: proxima-nova;
                font-size: 22px;
                text-transform: capitalize;
            }
        }
    }
}

// ------------------------------ Tablet ------------------------------
@media screen and (min-width: 768) and (max-width: 1023px) {}

// ------------------------------ Smartphone ------------------------------
@media screen and (max-width: 767px) {}