@import '/styles/globals';

// ------------------------------ Desktop ------------------------------
@media screen and (min-width: 1024px) {
    #faq {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        margin-top: 120px;

        .heading {
            grid-area: 1 / 2 / 2 / 6;
            margin-bottom: 0;
        }

        .left {
            grid-area: 2 / 1 / 4 / 6;
        }

        .right {
            grid-area: 1 / 7 / 4 / 12;
            padding-top: 80px;
        }
    }
}

// ------------------------------ Tablet ------------------------------
@media screen and (min-width: 768) and (max-width: 1023px) {}

// ------------------------------ Smartphone ------------------------------
@media screen and (max-width: 767px) {}