@import '/styles/globals';

// ------------------------------ Desktop ------------------------------
@media screen and (min-width: 1024px) {
    #footer {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        height: 80vh;
        margin-top: 120px;
        align-content: flex-end;

        .uppercase {
            text-transform: uppercase;
            color: $darkGrey;
            font-weight: 400;
        }

        p {
            margin: 0;
        }

        h3,
        a {
            font-family: contralto-big;
            font-weight: 600;
            text-transform: lowercase;
            color: $white;
            line-height: 1;
            opacity: 1;
            font-size: 64px;
            text-decoration: underline $darkGrey 5px;
            transition: all 0.3s ease-in-out;

            &:hover {
                text-decoration: underline $purple 5px;
            }
        }

        .gradientPurple {
            background: $gradientPurpleFaded;
        }

        .leftGradient {
            grid-area: 1 / 1 / 2 / 12;
            height: 80px;
            margin-bottom: 40px;
            z-index: 0;
        }

        .rightGradient {
            grid-area: 5 / 5 / 6 / 13;
            height: 80px;
            margin-top: 40px;
            z-index: 0;
        }

        .div1 {
            grid-area: 2 / 5 / 3 / 12;
        }

        .div2 {
            grid-area: 3 / 5 / 4 / 12;
        }

        .div3 {
            grid-area: 4 / 5 / 5 / 8;
        }

        .div4 {
            grid-area: 4 / 8 / 5 / 12;
        }

        .map {
            grid-area: 2 / 1 / 5 / 5;
            background: $gradientPurple;
            filter: grayscale(1);
            padding: 2px;
            border: none;
            margin-right: 80px;
            opacity: 0.75;
            transition: all 0.3s ease-in-out;

            &:hover {
                opacity: 1;
            }
        }
    }
}

// ------------------------------ Tablet ------------------------------
@media screen and (min-width: 768) and (max-width: 1023px) {}

// ------------------------------ Smartphone ------------------------------
@media screen and (max-width: 767px) {}