@import '/styles/globals';

// ------------------------------ Desktop ------------------------------
@media screen and (min-width: 1024px) {
    header {
        position: fixed;
        top: 40px;
        width: calc(100% - 240px);
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        z-index: 100;

        .logo {
            cursor: pointer;
        }

        nav {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            background: $gradientBackground;

            li {
                a {
                    padding: 0 1vw;
                }
            }
        }
    }

    button {
        background: $gradientPurpleFaded;
        color: $white;
        font-family: proxima-nova;
        font-weight: 300;
        font-style: normal;
        font-size: 18px;
        line-height: 1;
        text-transform: uppercase;
        text-decoration: none;
        border: none;
        padding: 20px 24px;
        cursor: pointer;
        transition: all 0.3s ease-in-out;

        &:hover {
            background: $gradientPurple;
        }
    }
}

// ------------------------------ Tablet ------------------------------
@media screen and (min-width: 768) and (max-width: 1023px) {}

// ------------------------------ Smartphone ------------------------------
@media screen and (max-width: 767px) {}