/* ------------------------------ Fonts import ------------------------------ */
@import url("https://use.typekit.net/pgw0ymf.css");

/* ------------------------------ Variables ------------------------------ */
$purple: #8A3FFC;
$magenta: #D02670;
$background: #21272A;
$backgroundFaded: rgba(105, 112, 119, 0.25);
$darkGrey: #697077;
$lightGrey: #D0D0D1;
$white: #FFFFFF;
$gradientPurple: linear-gradient(90deg, rgba(138, 63, 252, 1) 0%, rgba(208, 38, 112, 1) 100%);
$gradientPurpleFaded: linear-gradient(90deg, rgba(138, 63, 252, 0.75) 0%, rgba(208, 38, 112, 0.75) 100%);
$gradientBackground: linear-gradient(90deg, rgba(105, 112, 119, 0.75) 0%, rgba(105, 112, 119, 0) 80%);
$gradientBackgroundFaded: linear-gradient(90deg, rgba(105, 112, 119, 0.5) 0%, rgba(105, 112, 119, 0) 80%);
$gradientOverlay: linear-gradient(0deg, rgba(105, 112, 119, 0) 0%, rgba(105, 112, 119, 1) 100%);

* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

body {
  background: $background;
  color: $lightGrey;
  font-family: proxima-nova;
  font-weight: 100;
  font-style: normal;
  font-size: 18px;
  line-height: 1.4;
  margin: auto;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4 {
  font-family: contralto-big;
  font-weight: 600;
  font-style: normal;
  color: $white;
  line-height: 1;
  margin: 0;
}

h1 {
  font-size: 95px;
}

h2 {
  font-size: 80px;
}

h3 {
  font-size: 75px;
}

h4 {
  font-size: 25px;
  line-height: 0;
  margin-top: 35px;
}

p {
  font-size: 22px;
  line-height: 1.4;
  margin-bottom: 0;
}

a {
  font-family: proxima-nova;
  font-weight: 300;
  font-style: normal;
  font-size: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: $lightGrey;
  opacity: 0.75;
  text-decoration: none;
  transition: all 0.3s ease-in-out;

  &:hover {
    color: $lightGrey;
    opacity: 1;
  }

  &:focus {
    font-weight: 300;
    color: $white;
    opacity: 1;
  }
}

.purple {
  color: $purple;
}

.magenta {
  color: $magenta;
}

label {
  display: none;
}

// ------------------------------ Strips ------------------------------
.strip {
  position: fixed;
  width: 1px;
  height: 100vh;
  background: linear-gradient(180deg, $white 0%, $background 100%);
  opacity: 0.25;
  z-index: 50;
}

.one {
  left: 27.96%;
  top: 0;
}

.two {
  left: 50%;
  top: 0;
}

.three {
  right: 27.96%;
  top: 0;
}

// ------------------------------ Overlay ------------------------------
.overlay1 {
  position: absolute;
  height: 100vh;
  width: 22.03%;
  left: 5.93%;
  top: 0;
  background: $gradientOverlay;
  opacity: 0.25;
  z-index: -1;
}

.overlay2 {
  position: absolute;
  height: 100vh;
  width: 22.03%;
  left: 27.96%;
  top: 0;
  background: $gradientOverlay;
  opacity: 0.25;
  z-index: -1;
}

.overlay3 {
  position: absolute;
  height: 100vh;
  width: 22.03%;
  left: 50%;
  top: 0;
  background: $gradientOverlay;
  opacity: 0.25;
  z-index: -1;
}

.overlay4 {
  position: absolute;
  height: 100vh;
  width: 22.03%;
  left: 72.04%;
  top: 0;
  background: $gradientOverlay;
  opacity: 0.25;
  z-index: -1;
}

// ------------------------------ Sections ------------------------------
section {
  grid-template-columns: repeat(12, 1fr);
  gap: 16px;
  margin: 40px 120px;
}

.heading {
  grid-area: 1 / 2/ 2 / 5;
  align-self: center;
  margin-top: 80px;
  margin-bottom: 80px;
}

// ------------------------------ Header ------------------------------
header {
  position: fixed;
  top: 40px;
  width: calc(100% - 240px);
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 100;

  .logo {
    cursor: pointer;
  }

  nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background: $gradientBackground;

    li {
      a {
        padding: 0 1vw;
      }
    }
  }
}

button {
  background: $gradientPurpleFaded;
  color: $white;
  font-family: proxima-nova;
  font-weight: 300;
  font-style: normal;
  font-size: 18px;
  line-height: 1;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  padding: 20px 24px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  &:hover {
    background: $gradientPurple;
  }
}

// ------------------------------ Hero ------------------------------
#hero {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  height: calc(100vh - 80px);

  .div1 {
    grid-area: 1 / 7 / 2 / 12;
    display: flex;
    align-items: flex-end;
    margin-top: 15vh;
  }

  .div2 {
    grid-area: 2 / 2 / 3 / 6;
    align-self: flex-start;

    p {
      padding-left: 17px;
      margin-top: 0;
      margin-bottom: 20px;
    }
  }

  .div3 {
    grid-area: 2 / 11 / 3 / 13;
    display: flex;
    align-self: flex-end;
    align-items: flex-end;
    justify-content: flex-end;
    text-transform: uppercase;
  }
}

.gradientBorder {
  background: linear-gradient(180deg, $purple 0%, $magenta 100%);
  background-size: 3px;
  background-repeat: no-repeat;
}

// ------------------------------ My Services ------------------------------
#myServices {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  margin-top: 120px;

  .div2,
  .div3 {
    border: 1px solid $background;
    transition: all 0.3s ease-in-out;

    &:hover {
      border-color: $darkGrey;
    }
  }

  .div2 {
    grid-area: 1 / 6 / 2 / 12;
    align-self: center;
    background: $gradientBackgroundFaded;
    padding: 60px 100px;
    margin: 40px 0;
  }

  .div3 {
    grid-area: 2 / 1 / 3 / 7;
    align-self: center;
    background: $gradientBackgroundFaded;
    padding: 60px 100px;
    margin: 40px 0;
  }

  .div4 {
    grid-area: 2 / 8 / 3 / 13;
    align-self: center;
    padding: 80px 0;
    margin: 40px 0;
  }
}

// ------------------------------ My Process ------------------------------
#myProcess {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  margin-top: 120px;

  .div1,
  .div2,
  .div3 {
    background: $gradientBackgroundFaded;
    padding: 40px;
    border: 1px solid $darkGrey;
    transition: all 0.3s ease-in-out;

    &:hover {
      border-color: $lightGrey;
    }
  }

  .number {
    display: flex;
    justify-content: flex-end;
    background: $darkGrey;
  }

  .div1 {
    grid-area: 2 / 3 / 3 / 7;
  }

  .div2 {
    grid-area: 2 / 7 / 3 / 11;
  }

  .div3 {
    grid-area: 3 / 3 / 4 / 7;
  }

  .div4 {
    grid-area: 3 / 7 / 4 / 11;
    padding: 40px;
  }
}

// ------------------------------ Featured Work ------------------------------
#featuredWork {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  margin-top: 120px;

  .uppercase {
    text-transform: uppercase;
    color: $darkGrey;
    font-weight: 400;
    margin: 0;
  }

  p {
    margin: 0;
    z-index: 2;
  }

  h4 {
    margin-bottom: 20px;
    z-index: 2;
  }

  .gradientBorder {
    padding-left: 20px;
  }

  .whiteText {
    color: $white;
    font-weight: 400;
    margin-top: 20px;
    z-index: 2;
  }

  .div1,
  .div2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;

    &:hover {
      border-color: $darkGrey;
    }
  }

  .project {
    position: relative;
    top: 40%;
    left: 40%;
    opacity: 0.25;
    transition: all 0.3s ease-in-out;
    cursor: pointer;

    &:hover {
      opacity: 1;
      z-index: 3;
    }
  }

  .div1 {
    grid-area: 1 / 6 / 2 / 11;
    height: 360px;
    margin: 40px 0;
  }

  .div2 {
    grid-area: 2 / 1 / 3 / 6;
    height: 360px;
    margin: 40px 0;
  }

  .div3 {
    grid-area: 2 / 8 / 3 / 13;
    height: 320px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    margin: 40px 0;
  }
}

// ------------------------------ Quote ------------------------------
section#quote {
  width: 100%;
  margin: 240px 0 0 0;
  background: rgba(105, 112, 119, 0.15);
}

#quote {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  padding: 200px 0;

  .quote {
    grid-area: 1 / 3 / 2 / 11;
    text-align: center;
  }
}

// ------------------------------ About Me ------------------------------
#about {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  margin-top: 120px;

  .uppercase {
    text-transform: uppercase;
    color: $darkGrey;
    font-weight: 400;
    margin: 0;
  }

  .upper {
    grid-area: 1 / 5 / 2 / 11;
    padding-top: 80px;
  }

  .lower {
    grid-area: 2 / 3 / 3 / 9;
    padding-top: 80px;
  }
}

// ------------------------------ Contact ------------------------------
#contact {
  height: 100%;
}

// ------------------------------ Quote Form ------------------------------
#quoteForm {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  margin-top: 120px;

  .heading {
    grid-area: 1 / 2 / 2 / 6;
    margin-bottom: 0;
  }

  .description {
    grid-area: 2 / 2 / 3 / 6;
    margin: 20px 60px 20px 0;
  }

  .gradientPurple {
    background: $gradientPurpleFaded;
    grid-area: 2 / 1 / 3 / 6;
    z-index: -1;
  }

  form {
    grid-area: 3 / 2 / 4 / 12;
    display: grid;
    grid-template-columns: repeat(10, 1fr);

    h4 {
      margin-bottom: 20px;
    }

    p {
      margin: 0;
    }

    .generalInfo {
      grid-area: 1 / 2 / 2 / 6;
      display: flex;
      flex-direction: column;
      margin-top: 60px;
    }

    .budget {
      grid-area: 1 / 7 / 2 / 11;
      display: flex;
      flex-direction: column;

      input {
        width: 22px;
        opacity: 0.15;

        &:checked {
          opacity: 1;
        }
      }

      button {
        margin-top: 20px;
        align-self: flex-end;
      }
    }

    input,
    textarea {
      background: rgba(105, 112, 119, 0.25);
      color: $white;
      border: none;
      font-family: proxima-nova;
      font-weight: 300;
      font-size: 18px;
      line-height: 1.1;
      min-height: 28px;
      margin-bottom: 10px;
      padding: 10px 20px;
    }

    ::placeholder {
      color: $darkGrey;
    }
  }
}

// ------------------------------ Canvas ------------------------------
.canvasHero,
.canvasServices,
.canvasQuote,
.canvasServices {
  z-index: -1;
}

// ------------------------------ Footer ------------------------------
#footer {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  height: 80vh;
  margin-top: 120px;
  align-content: flex-end;

  .uppercase {
    text-transform: uppercase;
    color: $darkGrey;
    font-weight: 400;
  }

  p {
    margin: 0;
  }

  h3 {
    font-size: 64px;
  }

  .gradientPurple {
    background: $gradientPurpleFaded;
  }

  .leftGradient {
    grid-area: 1 / 1 / 2 / 12;
    height: 80px;
    margin-bottom: 40px;
    z-index: 0;
  }

  .rightGradient {
    grid-area: 5 / 5 / 6 / 13;
    height: 80px;
    margin-top: 40px;
    z-index: 0;
  }

  .div1 {
    grid-area: 2 / 5 / 3 / 12;
  }

  .div2 {
    grid-area: 3 / 5 / 4 / 12;
  }

  .div3 {
    grid-area: 4 / 5 / 5 / 8;
  }

  .div4 {
    grid-area: 4 / 8 / 5 / 12;
  }
}