/* ------------------------------ Fonts import ------------------------------ */
@import url("https://use.typekit.net/pgw0ymf.css");

/* ------------------------------ Variables ------------------------------ */
$purple: #8A3FFC;
$purpleLight: #B584FD;
$magenta: #D02670;
$green: #40FC8B;
$darkGrey: #21272A;
$midGrey: #697077;
$lightGrey: #D0D0D1;
$white: #FFFFFF;

* {
  box-sizing: border-box;
}

html {
  padding: 0;
  margin: 0;
}

body {
  margin: 40px 80px;
  background: $darkGrey;
  color: $midGrey;
  font-family: contralto-small, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 22px;
  line-height: 1.4;
}

h1,
h2,
h3,
h4 {
  color: $white;
  font-family: contralto-big, sans-serif;
  font-weight: 700;
  font-style: normal;
  line-height: 1.1;
  margin: 0;
}

h1 {
  font-size: 4.209rem;
}

h2 {
  font-size: 3.157rem;
}

h3 {
  font-size: 2.369rem;
}

h4 {
  font-size: 1.777rem;
}

p {
  font-size: 22px;
  line-height: 1.4;
  margin: 0;
}

a {
  font-family: contralto-small, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: $purple;
  text-decoration: none;
  transition: all 0.3s ease-in-out;

  &:hover {
    color: $magenta;
  }
}