/* ------------------------------ Fonts import ------------------------------ */
@import url("https://use.typekit.net/pgw0ymf.css");
/* ------------------------------ Variables ------------------------------ */
* {
  box-sizing: border-box;
}

html {
  padding: 0;
  list-style-type: none;
}

body {
  background: #21272A;
  color: #D0D0D1;
  font-family: proxima-nova;
  font-weight: 100;
  font-style: normal;
  font-size: 18px;
  line-height: 1.4;
  margin: auto;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4 {
  font-family: contralto-big;
  font-weight: 600;
  font-style: normal;
  color: #FFFFFF;
  line-height: 1;
  margin: 0;
}

h1 {
  font-size: 95px;
}

h2 {
  font-size: 80px;
}

h3 {
  font-size: 75px;
}

h4 {
  font-size: 25px;
  line-height: 0;
  margin-top: 35px;
}

p {
  font-size: 22px;
  line-height: 1.4;
  margin-bottom: 0;
}

a {
  font-family: proxima-nova;
  font-weight: 300;
  font-style: normal;
  font-size: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #D0D0D1;
  opacity: 0.75;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}
a:hover {
  color: #D0D0D1;
  opacity: 1;
}
a:focus {
  font-weight: 300;
  color: #FFFFFF;
  opacity: 1;
}

.purple {
  color: #8A3FFC;
}

.magenta {
  color: #D02670;
}

.strip {
  position: fixed;
  width: 1px;
  height: 100vh;
  background: linear-gradient(180deg, #FFFFFF 0%, #21272A 100%);
  opacity: 0.25;
  z-index: 50;
}

.one {
  left: 27.96%;
  top: 0;
}

.two {
  left: 50%;
  top: 0;
}

.three {
  right: 27.96%;
  top: 0;
}

.overlay1 {
  position: absolute;
  height: 100vh;
  width: 22.03%;
  left: 5.93%;
  top: 0;
  background: linear-gradient(0deg, rgba(105, 112, 119, 0) 0%, rgb(105, 112, 119) 100%);
  opacity: 0.25;
  z-index: -1;
}

.overlay2 {
  position: absolute;
  height: 100vh;
  width: 22.03%;
  left: 27.96%;
  top: 0;
  background: linear-gradient(0deg, rgba(105, 112, 119, 0) 0%, rgb(105, 112, 119) 100%);
  opacity: 0.25;
  z-index: -1;
}

.overlay3 {
  position: absolute;
  height: 100vh;
  width: 22.03%;
  left: 50%;
  top: 0;
  background: linear-gradient(0deg, rgba(105, 112, 119, 0) 0%, rgb(105, 112, 119) 100%);
  opacity: 0.25;
  z-index: -1;
}

.overlay4 {
  position: absolute;
  height: 100vh;
  width: 22.03%;
  left: 72.04%;
  top: 0;
  background: linear-gradient(0deg, rgba(105, 112, 119, 0) 0%, rgb(105, 112, 119) 100%);
  opacity: 0.25;
  z-index: -1;
}

section {
  grid-template-columns: repeat(12, 1fr);
  margin: 40px 120px;
}

header {
  position: fixed;
  width: calc(100% - 240px);
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
}
header .logo {
  cursor: pointer;
}
header nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background: linear-gradient(90deg, rgba(105, 112, 119, 0.75) 0%, rgba(105, 112, 119, 0) 80%);
}
header nav li a {
  padding: 0 1vw;
}

button {
  background: linear-gradient(90deg, rgba(138, 63, 252, 0.75) 0%, rgba(208, 38, 112, 0.75) 100%);
  color: #FFFFFF;
  font-family: proxima-nova;
  font-weight: 300;
  font-style: normal;
  font-size: 18px;
  line-height: 1;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  padding: 20px 24px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
button:hover {
  background: linear-gradient(90deg, rgb(138, 63, 252) 0%, rgb(208, 38, 112) 100%);
}

.hero {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  height: calc(100vh - 80px);
}
.hero .div1 {
  grid-area: 1/7/2/12;
  display: flex;
  align-items: flex-end;
  margin-top: 15vh;
}
.hero .div2 {
  grid-area: 2/2/3/6;
  align-self: flex-start;
}
.hero .div2 p {
  padding-left: 17px;
  margin-top: 0;
  margin-bottom: 20px;
}
.hero .div3 {
  grid-area: 2/11/3/13;
  display: flex;
  align-self: flex-end;
  align-items: flex-end;
  justify-content: flex-end;
  text-transform: uppercase;
}

.gradientBorder {
  background: linear-gradient(180deg, #8A3FFC 0%, #D02670 100%);
  background-size: 3px;
  background-repeat: no-repeat;
}

.myServices {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  margin-top: 240px;
}
.myServices .div1 {
  grid-area: 1/3/2/5;
  align-self: center;
}
.myServices .div2 {
  grid-area: 1/6/2/11;
  align-self: center;
  background: linear-gradient(90deg, rgba(105, 112, 119, 0.5) 0%, rgba(105, 112, 119, 0) 80%);
  padding: 60px 100px;
  margin: 40px 0;
  transition: all 0.3s ease-in-out;
}
.myServices .div2:hover {
  background: linear-gradient(90deg, rgba(105, 112, 119, 0.75) 0%, rgba(105, 112, 119, 0) 80%);
}
.myServices .div3 {
  grid-area: 2/2/3/7;
  align-self: center;
  background: linear-gradient(90deg, rgba(105, 112, 119, 0.5) 0%, rgba(105, 112, 119, 0) 80%);
  padding: 60px 100px;
  margin: 40px 0;
  transition: all 0.3s ease-in-out;
}
.myServices .div3:hover {
  background: linear-gradient(90deg, rgba(105, 112, 119, 0.75) 0%, rgba(105, 112, 119, 0) 80%);
}
.myServices .div4 {
  grid-area: 2/8/3/12;
  align-self: center;
  padding: 80px 0;
  margin: 40px 0;
}

.quote {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  margin-top: 240px;
}
.quote .div1 {
  grid-area: 1/3/1/11;
  align-self: center;
  text-align: center;
}

.canvasHero {
  z-index: -1;
}

.canvasServices {
  z-index: -1;
}/*# sourceMappingURL=globals.css.map */