/* ------------------------------ Fonts import ------------------------------ */
@import url("https://use.typekit.net/pgw0ymf.css");

@font-face {
  font-family: 'AlbraLight';
  src: url(../public/fonts/AlbraLight.otf);
}

/* ------------------------------ Variables ------------------------------ */
$purple: #8A3FFC;
$magenta: #D02670;
$background: #21272A;
$backgroundFaded: rgba(105, 112, 119, 0.25);
$darkGrey: #697077;
$lightGrey: #D0D0D1;
$white: #FFFFFF;
$gradientPurple: linear-gradient(90deg, rgba(138, 63, 252, 1) 0%, rgba(208, 38, 112, 1) 100%);
$gradientPurpleFaded: linear-gradient(90deg, rgba(138, 63, 252, 0.75) 0%, rgba(208, 38, 112, 0.75) 100%);
$gradientBackground: linear-gradient(90deg, rgba(105, 112, 119, 0.75) 0%, rgba(105, 112, 119, 0) 80%);
$gradientBackgroundFaded: linear-gradient(90deg, rgba(105, 112, 119, 0.5) 0%, rgba(105, 112, 119, 0) 80%);
$gradientOverlay: linear-gradient(0deg, rgba(105, 112, 119, 0) 0%, rgba(105, 112, 119, 1) 100%);

// ---------- Fonts ----------
$header_font: contralto-small,
sans-serif;
$text_font: proxima-nova,
sans-serif;

// ---------- Fluid fonts ----------
$paragraph: clamp(1rem, 0.43vw + 0.89rem, 1.38rem);
$header_4: clamp(1.25rem, 0.93vw + 1.02rem, 2.06rem);
$header_3: clamp(1.56rem, 1.75vw + 1.13rem, 3.09rem);
$header_2: clamp(1.95rem, 3.07vw + 1.19rem, 4.64rem);
$header_1: clamp(2.44rem, 5.17vw + 1.15rem, 6.96rem);

* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  list-style-type: none;
}

body {
  background: $background;
  color: $lightGrey;
  font-family: proxima-nova;
  font-weight: 100;
  font-style: normal;
  font-size: 18px;
  line-height: 1.4;
  margin: auto;
  user-select: none;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4 {
  font-family: $header_font;
  font-weight: 600;
  font-style: normal;
  color: $white;
  line-height: 1.1;
  margin: 0;
}

h1 {
  font-size: $header_1;
}

h2 {
  font-size: $header_2;
}

h3 {
  font-size: $header_3;
}

h4 {
  font-size: $header_4;
  line-height: 2;
}

p {
  font-size: $paragraph;
  line-height: 1.4;
  margin-bottom: 0;
}

a {
  font-family: proxima-nova;
  font-weight: 300;
  font-style: normal;
  font-size: calc($paragraph - 2px);
  letter-spacing: 1px;
  text-transform: uppercase;
  color: $lightGrey;
  opacity: 0.75;
  text-decoration: none;
  transition: all 0.3s ease-in-out;

  &:hover {
    color: $lightGrey;
    opacity: 1;
  }

  &:focus {
    font-weight: 300;
    color: $white;
    opacity: 1;
  }
}

.link {
  text-decoration: underline $darkGrey 2px;
  color: $white;
  opacity: 1;

  &:hover {
    text-decoration: underline $purple 2px;
  }
}

.purple {
  color: $purple;
}

.magenta {
  color: $magenta;
}

label {
  display: none;
}

// ------------------------------ Strips ------------------------------
.strip {
  position: fixed;
  width: 1px;
  height: 100vh;
  background: linear-gradient(180deg, $white 0%, $background 100%);
  opacity: 0.25;
  z-index: 50;
}

.one {
  left: 27.96%;
  top: 0;
}

.two {
  left: 50%;
  top: 0;
}

.three {
  right: 27.96%;
  top: 0;
}

// ------------------------------ Overlay ------------------------------
.overlay1 {
  position: absolute;
  height: 100vh;
  width: 22.03%;
  left: 5.93%;
  top: 0;
  background: $gradientOverlay;
  opacity: 0.25;
  z-index: -1;
}

.overlay2 {
  position: absolute;
  height: 100vh;
  width: 22.03%;
  left: 27.96%;
  top: 0;
  background: $gradientOverlay;
  opacity: 0.25;
  z-index: -1;
}

.overlay3 {
  position: absolute;
  height: 100vh;
  width: 22.03%;
  left: 50%;
  top: 0;
  background: $gradientOverlay;
  opacity: 0.25;
  z-index: -1;
}

.overlay4 {
  position: absolute;
  height: 100vh;
  width: 22.03%;
  left: 72.04%;
  top: 0;
  background: $gradientOverlay;
  opacity: 0.25;
  z-index: -1;
}

// ------------------------------ Button ------------------------------
.button {
  background: $gradientPurpleFaded;
  color: $white;
  font-family: proxima-nova;
  font-weight: 300;
  font-style: normal;
  font-size: calc($paragraph - 2px);
  line-height: 1;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  padding: 20px 24px;

  &:hover {
    background: $gradientPurple;
  }
}

// ------------------------------ Tablet ------------------------------
@media screen and (min-width: 768) and (max-width: 1023px) {
  .button {
    padding: 16px 20px;
  }
}

// ------------------------------ Smartphone ------------------------------
@media screen and (max-width: 767px) {
  .button {
    padding: 12px 16px;
  }

  button {
    background: none;
    border: none;
    color: $white;
  }
}